pipeline/Pipeline2.json
{
	"name": "Pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "sampleinputfiles//Data P1.csv"
					},
					{
						"name": "Destination",
						"value": "sampleoutputfiles//Data P1 Output.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Industry_aggregation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Industry_aggregation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Industry_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Industry_code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Industry_name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Industry_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Units",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Units",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Variable_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Variable_code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Variable_name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Variable_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Variable_category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Variable_category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataP1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataP1Output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DataP2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataP2Output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Data flow1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().Units, 'Dollars (millions)')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Concatenate String",
											"value": {
												"value": "@concat(item().Value, '$')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Concatenate String": {
				"type": "String"
			}
		},
		"annotations": []
	}
}